.btn-common {
    background-color: #0f3d5e;
    color: #fff;
}

.btn-common:hover {
    background-color: #0b2f49;
}
.border-container {
    border: 1px solid #d5d5d5; 
    border-radius: 10px;
}
.custom-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
footer {
    background-color:#0f3d5e;; /* Dark background color */
    color: white; /* Text color */
    width: 100%; /* Full width */
    position: fixed; /* Fix at the bottom */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to the left */
    padding: 20px 0; /* Adjust padding as needed */
    z-index: 999; /* Ensure it stays on top of other elements */
    font-size:11px;
}