@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: 10px; */
}

.table-container {
  max-height: 600px; /* or whatever height you prefer */
  overflow-y: auto;
  /* border: 1px solid #ddd; */

  
}

/* Make table header sticky */
.table-container thead th {
  position: sticky;
  top: 0;
  background-color: rgb(241, 220, 251); /* ensures header doesn't become transparent */
  z-index: 10; /* keeps header above table rows */
  /* border-bottom: 3px solid #ccc; */
}


.username-text {
    margin-right: 15px; /* Space between username and icon */
    font-weight: bold; /* Bold text for the username */
    font-size: 18px;
}

.profile-icon i {
    font-size: 24px; /* Adjust the size of the icon */
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #410445;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo{
    color: #fff;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.sidebar ul{
    list-style-type: none;
    padding-left: 0;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    border-radius: 12px;
    height: 50px;   
    line-height: 50px;
}

.nav-item-sidebar{
    left: 0;
}

.sidebar .nav-item-sidebar{
    opacity: 0;
}

.sidebar.active .nav-item-sidebar{
    opacity: 1;
}

.logo-img{
    width: 50px;
}

.logo-img1{
    width: 80px;
    background-color: #F8F8F8;
}

.logo-img2{
    width: 50px;
    
    background-color: #F8F8F8;
}


.top .logo img{
    margin-right: 8px;
}

.logo-report-img{
    width: 60px;
    border-radius: 100%;
    border: 1px solid #eee;

}

.top .logo-report-img{
    margin-right: 8px;
}


.top .logo span{
    font-size: 1rem;
}

.sidebar .user{
    display: flex;
    align-items: center;
    margin-left: 1rem 0;
}

.sidebar.active .user{
    display: none;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content{
    position: relative;
    min-height: 100vh;
    margin-top: 30px;
    top: 0;
    left: 80px; 
    transition: all 0.5s ease;
    width: calc(100% - 80px); 
    padding: 1rem;
    padding-bottom: 100px;
}


.custom-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.border-container {
    border: 1px solid #d5d5d5; 
    border-radius: 10px;
}

.hr-custom {
    border: 0;
    border-top: 2px solid #a9a9a9; 
    margin-bottom: 20px;
}

.hr-sidebar {
    border: 0;
    border-top: 2px solid #d2d2d2; 
    margin-bottom: 5px;
}

.heading-container {
    margin-bottom: 20px; 
}



.report-heading {
    background-color: #c5afeb; 
    border-color: #7e3af2; 
    color: #fff; 
}
.report-heading:hover {
    background-color:  #6d28d9;; 
    border-color:  #6d28d9;; 
    
}

.icon-spacing{
  margin-right: 8px;
}

.btn .custom-dropdown {
   
    width: 100%;
    text-align: left;
    border-color: lightgray;
    color: #83757D;
}



.dropdown-menu {
    width: 100%;
    left: 0; 
    right: auto; 
}

.btn.dropdown-toggle {
    text-align: left; 
    border-color: red;
    color: #83757D;


}

.btn-outline-custom {
    border: 1px solid red;
    background-color: transparent;
    color: red;
}
.btn-outline-custom:hover {
    background-color: red;
    color: white;
}

.btn-outline-delete-custom {
    border: 2px solid red;
    background-color: transparent;
    color: red;
}
.btn-outline-delete-custom:hover {
    background-color: red;
    color: white;
}



.searchbtn-no-outline {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}



.btn-outline-edit-custom {
    border: 2px solid #28a745;
    background-color: transparent;
    color: green;
}
.btn-outline-edit-custom:hover {
    background-color: #28a745;
    color: white;
}

.btn-outline-process {
    border: 2px solid #FF8C00;
    background-color: transparent;
    color: #FF8C00;
}
.btn-outline-process:hover {
    background-color: #FF8C00;
    color: white;
}

.btn-outline-view {
    border: 2px solid blue;
    background-color: transparent;
    color: blue;
}
.btn-outline-view:hover {
    background-color: blue;
    color: white;
}

.btn-outline-printer-custom {
    border: 2px solid blue;
    background-color: transparent;
    color: blue;
}
.btn-outline-printer-custom:hover {
    background-color: blue;
    color: white;
}

.custom-footer-color {
    background-color: #130126
}

.custom-footer-color1 {
    background-color: #dfdfdf
}

footer {
    background-color:rgb(36, 2, 37); /* Dark background color */
    color: white; /* Text color */
    width: 100%; /* Full width */
    position: fixed; /* Fix at the bottom */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to the left */
    padding: 20px 0; /* Adjust padding as needed */
    z-index: 999; /* Ensure it stays on top of other elements */
    font-size:11px;
}


.custom-footer {
    margin-top: 50px; /* Adjust the value as needed */
}

.sidebar{
    z-index: 1000;
}

.username-header {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    padding: 5px; /* Padding around the header */
    background-color: #f8f9fa; /* Light background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    position: fixed; /* Fixed position for header */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    z-index: 999; /* Ensure it stays on top */
    justify-content: flex-end;
}

/* .profile-container {
    display: flex; /* Align items horizontally */
     /* Center items vertically 
} */

.username-text {
    margin-right: 15px; /* Space between username and icon */
    font-weight: bold; /* Bold text for the username */
    font-size: 18px;
}

.profile-icon i {
    font-size: 24px; /* Adjust the size of the icon */
}


/* 
.page-link {
    color: #3d0477; 
}

.page-link:hover {
    color: #7e3af2; 
} */


.page-link {
    color: #67076d; 
}

.page-link:hover {
    color: #FF2DF1; 
}





        
/* .page-item.active .page-link {
    background-color: #21006d; 
    color: white; 
    border-color: #21006d;
} */

.page-item.active .page-link {
    background-color: #410445; /* Deep Green */
    color: white;
    border-color: #410445;
}



.page-item.disabled .page-link {
    color: #9cabb7; 

}

.dropdown-toggle::after {
    display: none; /* Removes the dropdown indicator */
}
.dropdown-menu {
    border: 1 px solid red; /* Removes the border from the dropdown menu */
    box-shadow: none; /* Removes the shadow from the dropdown menu */
}

.dropdown-menu1 {
    border: none; /* Removes the border from the dropdown menu */
    box-shadow: none; /* Removes the shadow from the dropdown menu */
}


.btn-light {
    border: none; /* Removes the border from the button */
    background-color: transparent; /* Removes the background color from the button */
    color: lightgrey;
}







.dropbtn {
    background-color: #4e73df;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
  
.dropdown {
    position: relative;
    float: right;
}
  
.report_dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    min-width: 160px;
    font-size: small;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    cursor: pointer;
}
  
.report_dropdown-content div {
    color: rgb(99, 99, 99);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
}
  
.report_dropdown-content div:hover {
    background-color: lightgray
}
  
.dropdown:hover .report_dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #2e59d9;
}
  
.dropdown-report-submenu {
    position: relative;
    display: none;
    padding: 50px;      
    min-width: 100px;
    z-index: 1;
    left: 0%;  
}
  
.report_dropdown-subcontent{
    display: none;
    position: absolute;
    min-width: 160px;
    width: 180px;
    font-size: small;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 100%;
    cursor: pointer;
}
    
.dropdown-report-submenu .report_dropdown-subcontent {
    display: none;
    position: absolute;
    top: 0;
    margin-top: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #ddd;
    z-index: 1;
    background-color: white;
}
    
.dropdown-report-submenu:hover .report_dropdown-subcontent {
    display: block;
    padding: 0;
}
  
.report_dropdown-subcontent div {
    /* padding: 8px 12px; */
    font-size: small;
    color: rgb(99, 99, 99);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
    
.report_dropdown-subcontent div:hover {
    background-color: lightgray;
}

.status-pending {
    background-color: transparent;
    color: grey;
    border: 2px solid grey;
}

.status-pending:hover {
    background-color: grey;
    color: white;
    border: 2px solid grey;
}

.status-accepted {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

.status-accepted:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
}

.btn-common {
    border: 2px solid #410445;
    background-color: #410445;
    color: white;
}
.btn-common:hover {
    background-color: #FFCB08;
    color: black;
    border: 2px solid #FFCB08;
}

.btn-common-inverse {
    border: 2px solid #A5158C;
    background-color: transparent;
    color: #A5158C;
}
.btn-common-inverse:hover {
    background-color: #A5158C;
    color: white;
    border: 2px solid #A5158C;
}

.datetime-container {
    flex-grow: 1; /* Takes up available space */
    display: flex;
    justify-content: center; /* Ensures the date/time is centered */
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    top: 10px;
}

#datetime {
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    min-width: 200px;
}

.btn-documents {
    border: 2px solid blue !important;
    background-color: transparent;
    color: blue;
}

.btn-documents:hover {
    background-color: blue;
    color: white;
}

.btn-documents:hover i {
    color: white !important;
}

.dropdown-menu {
    width: auto !important;
    min-width: unset !important;
    white-space: nowrap;
}